{
  "parser": "typescript-eslint-parser",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": 0,
    "import/prefer-default-export": 0,

    // Blame TypeScript
    "import/extensions": 0,
    "import/no-extraneous-dependencies": [2, {"devDependencies": ["src/**/*.spec.tsx", "src/**/*.spec.ts"]}],
    "import/no-unresolved": 0,
    "no-unused-vars": 0,
    "no-undef": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".tsx"] }],
    "space-infix-ops": 0
  }
}
