{
  "parser": "typescript-eslint-parser",
  "extends": [
    "airbnb"
  ],
  "rules": {
    // Blame TypeScript
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-unused-vars": 0,
    "no-undef": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".tsx"] }],
    "space-infix-ops": 0
  }
}
