@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import 'variables';

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

:global {
  #root {
    width: 100%;
  }

  .page-container {
    max-width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
  }
}
